/* html selectors */

body {
    background-color: #dddbcb;
    font-family: "source sans pro", sans-serif;
    color: #fff;
    border: 1px dashed red;
}

header {
    background-color: #a1a6b4;
}

h1, h2, h3, h4, h5, h6 {
    color: #565676;
    text-align: center;
    text-shadow: 1px 1px rgba(202, 201, 201, 0.5);
}

footer {
    background-color: #a1a6b4;
    border: 1px dashed yellow;
}

/* <<<<<<< NAVIGATION >>>>>>>>>*/

nav {
    text-align: center;
    margin: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: #ed6a5a;
}

.active {
    background-color: #ed6a5a;
    color: white;
}

a:link {
    text-decoration: none;
    text-align: center;
    width: 100%;
}

a:visited {
    color: #565676;
}

li a:hover {
    background-color: #a1a6b4;
    color: white;
}

/* <<<<<<< CLASS SELECTORS >>>>>>>>>*/

.header {
    width: 100%;
    height: 150px;
    border: 1px dashed cyan;
}

.logo {
    position: relative;
    top: 5px;
    left: 100px;
    margin: 10px;
    border: 1px dashed orange;
}

.clairvoyant {
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin-top: auto;
    border: 1px dashed cyan;
}

.motto {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    border: 1px dashed orange;
}

.preston {
    font-size: 40px;
    color: #ed6a5a;
}

.forecast {
    border: 1px dashed green;
}

.five {
    font-size: 30px;
}


.articleImg {
    margin: 10px;
    box-shadow: 0 0 30px rgb(54, 54, 54);
    border: 1px solid black;
    
    
}

.storm {
    border: 1px solid #565676;
    padding: 10px;
    margin: 50px;
    
}



.hero-img {
    margin: 10px auto;
    border: 1px solid #000;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 30px rgb(54, 54, 54);
}

.herodiv {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 300px;
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #dddbcb;
    border: 1px solid black;
    padding: .5rem;
    box-shadow: 0 0 30px rgb(54, 54, 54);
    opacity: 0.7;
}

/* id selectors */

/* <<<<<<< MEDIA QUERIES >>>>>>>>>*/

@media screen and (max-width: 500px) {
    .forecast {
        display: none;
    }
    .menu {
        display: inline;
    }
}