/* CIT 230 - Assignment Portal CSS Template */

/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #579bd3;
}

h1 {
    font-size: 3em;
    color: #d9f3fc;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #00161e;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: #ffa500;
    color: #d9f3fc;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 1em;
}